* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    display: flex;
    background-color: #052395;
    padding: 20px;
    padding-left: 7%;
    margin-bottom: 5px;
}

.logo {
    padding-top: 10px;
    width: 65%;
}

.menu{
    padding-top: 30px;
    text-align: right;
}

.menu a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin-right: 15px;
}

.container_pag {
    background-color: #052395;
    width: 100%;
    display: flex;
}

.itens_pag h3, p{
    padding: 20px;
    color: white;
    text-align: justify;
}

.itens_pag{
    margin: 20px;
}

/*slider de cima*/

.slider{
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.slides{
    width: 400%;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 100%;
}

.manual-navegation{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #052395;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.6s;
}

.manual-btn:not(:last-child){
   margin-right:15px; 
}

.manual-btn:hover{
    background-color: #052395;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navegation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.6s;
}

.navegation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navegation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navegation-auto .auto-btn1{
    background-color: #052395;
}

#radio1:checked ~ .navegation-auto .auto-btn2{
    background-color: #052395;
}

#radio1:checked ~ .navegation-auto .auto-btn3{
    background-color: #052395;
}

#radio1:checked ~ .navegation-auto .auto-btn4{
    background-color: #052395;
}

/*Mensagem h3*/
.msg-clt{
    width: 100%;
}

.msg-clt h3{
    text-align: center;
    font-size: 28px;
    margin-top: 35px;
    margin-bottom: 35px;
}

/*slider dos clientes*/

.cltslider{
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.cltslides{
    width: 400%;
    display: flex;
}

.cltslides input{
    display: none;
}

.cltslide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.cltslide img{
    width: 100%;
    height: 210px;
}

.cltmanual-navegation{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.cltmanual-btn{
    border: 2px solid #052395;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.6s;
}

.cltmanual-btn:not(:last-child){
    margin-right: 15px;
}

.cltmanual-btn:hover{
    background-color: #052395;
}

#cltradio1:checked ~ .first{
    margin-left: 0;
}

#cltradio2:checked ~ .first{
    margin-left: -25%;
}

#cltradio3:checked ~ .first{
    margin-left: -50%;
}

#cltradio4:checked ~ .first{
    margin-left: -75%;
}

#cltradio5:checked ~ .first{
    margin-left: -100%;
}

.copyright{
    background-color: #052395;
}

.copyright p{
    text-align: center;
    font-size: 10px;
}

.col2{
    display: flex;
    flex-flow: row wrap;

}

.col1 p{
    color: black;
}

.col2 p{
    color: black;
}