* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

header{
    padding: 22px 0;
}

.logo {
    padding-top: 10px;
    width: 65%;
}

.menu{
    padding-top: 30px;
    text-align: right;
}

.menu a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}

.swiper{
    width: 100%;
    height: fit-content;

}

.swiper-slide img{
    width: 100%;
}


.swiper .swiper-button-next, .swiper .swiper-button-prev{
    color: #052395;
}

.swiper .swiper-pagination-bullet-active{
    background: #052395;
}

.container_pag {
    background-color: #052395;
    width: 100%;
    display: flex;
}

.itens_pag h3, p{
    padding: 20px;
    color: white;
    text-align: justify;
}

.itens_pag{
    margin: 20px;
}

.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 800px;
}

.manual-navegation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.6s;
}

.manual-btn:not(:last-child){
   margin-right:15px; 
}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

#radio5:checked ~ .first{
    margin-left: -100%;
}

.navegation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.6s;
}

.navegation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navegation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navegation-auto .auto-btn1{
    background-color: white;
}

#radio1:checked ~ .navegation-auto .auto-btn2{
    background-color: white;
}

#radio1:checked ~ .navegation-auto .auto-btn3{
    background-color: white;
}

#radio1:checked ~ .navegation-auto .auto-btn4{
    background-color: white;
}

#radio1:checked ~ .navegation-auto .auto-btn5{
    background-color: white;
}